[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
plaidml-keras = "*"
nltk = "*"
jupyter = "*"
gensim = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
plotly = "*"
bokeh = "*"
pyemd = "*"
tqdm = "*"
psutil = "*"

[requires]
python_version = "3.6"
